/* 自由に編集下さい */
#formWrap {
  max-width: 700px;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
  font-size: 12px;
}

#formWrap h3 {
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 28px 0 32px;
  font-weight: 500;
  letter-spacing: 4px;
  color: #337eba;
}

#formWrap h3:before {
  content: "";
  width: calc(50% - 50px);
  height: 12px;
  background: #337eba;
  display: inline-block;
  margin-bottom: 0px;
  margin-right: 20px;
  border-radius: 2px 0px 0px 2px;
}

#formWrap h3:after {
  content: "";
  width: calc(50% - 50px);
  height: 12px;
  background: #337eba;
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 20px;
  border-radius: 0px 2px 2px 0px;
}

#formWrap p {
  padding: 0 0 36px 0;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

#formWrap p .att {
  color: #377881;
}

table.formTable {
  width: 100%;
  margin: 0 auto 40px;
}

table tr {
  border-bottom: solid 2px white;
}

table tr:last-child {
  border-bottom: none;
}

table.formTable th {
  position: relative;
  text-align: center;
  background: #337eba;
  color: #fff;
  text-align: center;
  padding: 16px 12px;
  font-size: 12px;
  font-weight: 500;
  width: 20%;
}

table.formTable td {
  text-align: left;
  width: 80%;
  background-color: #eee;
  padding: 16px 20px;
  font-size: 12px;
}

table.formTable tr:first-child th {
  border-radius: 4px 0 0 0;
}

table.formTable tr:first-child td {
  border-radius: 0 4px 0 0;
}

table.formTable tr:nth-child(8) th {
  border-radius: 0 0 0 4px;
}

table.formTable tr:nth-child(8) td {
  border-radius: 0 0 4px 0;
}

p.error_messe {
  margin: 4px 0;
  color: red;
}

#formWrap input#send-btn {
  color: #ffffff;
  width: calc(50% - 6px);
  padding: 16px;
  background: #337eba;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0 0 0 6px;
  height: 52px;
  display: block;
  float: left;
  transition: all 0.3s ease;
}

#formWrap input#send-btn:hover {
  opacity: 0.7;
  transition: all 0.3s ease;
}

#formWrap input#back-btn {
  color: #364148;
  width: calc(50% - 6px);
  padding: 16px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0 6px 0 0;
  height: 52px;
  display: block;
  float: left;
  transition: all 0.3s ease;
  background-color: #eee;
}

#formWrap input#back-btn:hover {
  background: #ccc;
}

.btn-wrap {
  width: calc(100% / 3 * 2);
  display: block;
  margin: 0 auto 44px;
}

#send-report .message {
  text-align: center;
  padding: 24px 0;
  margin-bottom: 24px;
  margin-top: 32px;
  line-height: 20px;
  background: #337eba;
  color: #fff;
  border-radius: 4px 4px 4px 4px;
}

#send-report .message:before {
  content: "";
}

#send-report .message:after {
  content: "";
}

#send-report .message h2 {
  display: block;
  font-size: 24px;
  margin-bottom: 12px;
  letter-spacing: 2px;
}

#send-report .message span {
  display: block;
  font-size: 10px;
  letter-spacing: 2px;
}

#send-report .call {
  text-align: center;
  letter-spacing: 2px;
}

#send-report .call a {
  margin-left: 12px;
}



/*　簡易版レスポンシブ用CSS（必要最低限のみとしています。ブレークポイントも含め自由に設定下さい）　*/
@media screen and (max-width:768px) {
  #formWrap {
    margin: 0 auto;
  }

  #formWrap p {
    text-align: left;
  }

  table.formTable tr:first-child th {
    border-radius: 2px 2px 0 0;
  }

  table.formTable tr:first-child td {
    border-radius: 0 2px 0 0;
  }

  table.formTable tr:nth-child(8) th {
    border-radius: 0 0 0 0;
  }

  table.formTable tr:nth-child(8) td {
    border-radius: 0px 0px 2px 2px;
  }

  .btn-wrap {
    width: 100%;
    display: block;
    margin: 0 auto 44px;
  }

  table.formTable {
    margin: 0 auto 24px;
  }

  table.formTable th {
    margin-top: 4px;
    border-bottom: 0;
    padding: 8px 8px;
    width: 100%;
    display: block;
    text-align: left;
  }

  table.formTable td {
    margin-top: 0;
    border-bottom: 0;
    padding: 8px 8px;
    width: 100%;
    display: block;
    text-align: left;
  }

  #send-report .call a {
    margin-left: 0;
    display: block;
    margin-top: 4px;
  }
}

@media screen and (max-width: 640px) {
  #formWrap {
    max-width: 700px;
    width: 100%;
    padding: 0 12px;
    margin: 0 auto;
    font-size: 10px;
  }

  #formWrap h3 {
    font-size: 14px;
  }

  #formWrap p {
    padding: 0 0 36px 0;
    font-size: 10px;
  }

  #formWrap p .att {
    color: #377881;
    display: block;
  }

  #formWrap .message h2 {
    font-size: 16px;
  }

  table.formTable th {
    font-size: 10px;
  }

  table.formTable td {
    font-size: 10px;
  }

  input#send-btn {
    font-size: 10px;

  }

  input#back-btn {
    font-size: 10px;
  }
}