#company {
  background: #efeeed;
  background: linear-gradient(to bottom,  #efeeed 0%, #eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#company .hr {
  background: #efeeed;
  display: flex;
  align-items: center;
  max-width: 592px;
  width: calc(100% - 32px);
  margin:0 auto;
}


#company .hr img.diamond{
  width: 16px;
  margin: 0 12px;
}

#company .hr:before{
    content: "";
    width: calc(50% - 20px);
    height: 2px;
    background: #333;
    display: inline-block;
}

#company .hr:after{
    content: "";
    width: calc(50% - 20px);
    height: 2px;
    background: #333;
    display: inline-block;
}

#company .container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px 32px;
}

#company .container .company-detail{
	width: 592px;
  display: block;
  height: 100%;
  position: relative;
  padding: 0 0 52px 0;
  margin: 44px auto 0;
  background: #fff;
  border-radius: 4px;
  border-top: 8px solid #333333;
}

#company h3 {
  font-size: 12px;
  border-top: 1px solid #333;
  padding: 36px 36px 40px 36px;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}

#company h3 img {
	width: 32px;
  margin-right: 14px;
}

#company .container .company-detail table {
	padding: 0 36px;
  margin: 0 auto;
  width: calc(100% - 72px);
  letter-spacing: 2px;
}
#company .container .company-detail table tr {
	width: 100%;
}

#company .container .company-detail table th {
	text-align: left;
	font-size: 10px;
	border-right: 1px solid #333;
  padding: 0 0 48px 0;
  width: 25%;
}

#company .container .company-detail table td {
	text-align: left;
	font-size: 10px;
	padding: 0 0 48px 48px;
  width: 75%;
}

#company .container .company-detail table tr:first-child th {
	padding: 12px 0 48px 0;
}

#company .container .company-detail table tr:first-child td {
	padding: 12px 0 48px 48px;
}

#company .container .company-detail table tr:last-child th {
	padding: 0 0 12px 0;
}

#company .container .company-detail table tr:last-child td {
	padding: 0 0 12px 48px;
}


@media(max-width: 1440px) {
  #company .container {
    padding: 0 32px 32px;
  }
}

@media(max-width: 768px) {
  #company .container {
    padding: 0 32px 32px;
  }

	#company h3 {
    padding: 24px 20px 24px 20px;
	}

	#company h3 img {
    width: 20px;
    margin-right: 8px;
	}

	#company .container .company-detail {
    padding: 0 0 24px 0;
	}

	#company .container .company-detail table{
		padding: 0 20px;
		width: calc(100% - 40px);
	}

  #company .container .company-detail table th {
  	display: block;
  	width: 100%;
  	border-right: 0;
		padding: 0 0 4px 0;
    text-align: left;
  }

  #company .container .company-detail table td {
  	display: block;
  	width: 100%;
		padding: 0 0 16px 0;
    text-align: left;
    line-height: 16px;
  }

	#company .container .company-detail table tr:first-child th {
		padding: 0 0 4px 0;
	}

	#company .container .company-detail table tr:first-child td {
		padding: 0 0 16px 0;
	}

	#company .container .company-detail table tr:last-child th {
		padding: 0 0 4px 0;
	}

	#company .container .company-detail table tr:last-child td {
		padding: 0 0 16px 0;
	}
}

@media(max-width: 640px) {
  #company .container {
    padding: 0 16px 24px;
  }
  #company .container .company-detail {
    width: 70%;
    margin: 40px auto 0;
    display: block;
    float: none;
  }
  #company .hr {
    width: 70%;
  }
  #company .hr img.diamond {
    width: 12px;
    margin: 0 8px;
  }
  #company .hr:before {
    content: "";
    width: calc(50% - 10px);
  }

  #company .hr:after {
    content: "";
    width: calc(50% - 10px);
  }
}


@media (max-width: 414px){
	#company .container .company-detail {
	    width: 100%;
	}
  #company .hr {
    width: 100%;
  }

}