/* ミッション ここから */
#mission {
}

#mission.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

#mission.container:before {
  content: "";
  border-top: 0 transparent;
  transition: all 1s;
  width: 0;
}

#mission.container.top-border:before {
  content: "";
  border-top: 4px solid #221815;
  width: 100%;
  position: fixed;
  left: 0;
  /*right: 0;*/
  margin: 0 auto;
  transition:all 1s;
}

#mission h2 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 68px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 4px;
  line-height: 1;
  margin-bottom: 100px;
}

#mission h2 .letter {
  transform: scale(100);
  display: inline-block;
  animation-name: lettersdrop;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes lettersdrop {
  0% {
    transform: scale(100);
    display: none;
    opacity: 0;
  }

  25% {
    display: none;
    opacity: 0;
  }

  75% {
    display: block;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#mission aside {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 6px;
  padding: 20px 12px 0;
  line-height: 2;
}

#mission .slogan {
  position: absolute;
  top: 20%;
  margin: 0 auto;
  left: 0;
  right: 0;
  line-height: 1;
  text-align: center;
}

.let-text-go-top {
  animation-name: lettersraiseup;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes lettersraiseup {
  0% {
    top: 20%;
  }

  25% {
    top: 30%;
  }

  100% {
    top: -100%;
  }
}

.underlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ccc;
  left: 0%;
  top: 0;
  animation-name: pullright;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes pullright {
  0% {
    left: -100%;
  }

  25% {
    left: 0%;
  }

  75% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}

#mission h3 {
  position: absolute;
  display: block;
  width: 100%;
  font-size: 60px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  top: 20%;
  letter-spacing: 2px;
  line-height: 2;
  left:0;
  right:0;
  margin:0 auto;
}

#mission #service-txt {
  text-align: center;
  display: block;
  width: 100%;
  position: absolute;
  top: -400%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#mission #service-txt.drop {
  top: 20%;
  transition: all 1s;
}

#mission h4 {
  font-size: 68px;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 68px;
  line-height: 2;
  padding: 0 12px;
}

#mission h4 span {
  font-size: 32px;
  display: block;
}

i.bottom-arrow.fadeIn {
  opacity: 1;
  transition: all 1s;
}

i.bottom-arrow {
  position: absolute;
  opacity: 0;
  bottom: 9.013%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 44px;
  height: 44px;
  border: 6px solid #374149;
  border-radius: 100%;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 100;
  transition: all 1s;
}

i.bottom-arrow::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -10px 0 0 -8px;
  border-left: 6px solid #374149;
  border-bottom: 6px solid #374149;
  transform: rotate(-45deg);
  box-sizing: border-box;
}

i.bottom-arrow:hover {
  background: #374149;
  transition: all 0.4s;
}

i.bottom-arrow:hover::after {
  border-left: 6px solid #fff;
  border-bottom: 6px solid #fff;
  transition: all 0.4s;
}

i.bottom-arrow:active {
  background: #fff;
  transition: all 0.4s;
}

i.bottom-arrow:active::after {
  border-left: 6px solid #374149;
  border-bottom: 6px solid #374149;
  transition: all 0.4s;
}

i.bottom-arrow:hover::before {
  position: absolute;
  top: -6px;
  left: -6px;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  opacity: 0;
  animation: ripple 10s infinite;
  box-sizing: border-box;
}

@keyframes ripple {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@media(max-width: 1024px) {
  #mission h2 {
    font-size: 48px;
  }

  #mission h3 {
    font-size: 48px;
  }

  #mission h4 {
    font-size: 44px;
    margin-bottom: 56px;
  }

  #mission h4 span {
    display: block;
    font-size: 20px;
    margin-top: 12px;
  }

  #mission aside {
    font-size: 16px;
    padding: 0 12px;
    line-height: 2;
    letter-spacing: 2px;
  }
}

@media(max-width: 768px) {
  #mission h2 {
    font-size: 36px;
  }

  #mission h3 {
    font-size: 36px;
  }
  #mission aside {
    font-size: 12px;
  }
}

@media(max-width: 640px) {
  #mission h2 {
    font-size: 24px;
  }

  #mission h3 {
    font-size: 24px;
  }

  #mission h4 {
    font-size: 20px;
    margin-bottom: 48px;
  }

  #mission h4 aside {
    font-size: 12px;
  }

  #mission h4 span {
    font-size: 10px;
    display: block;
    margin-top: 8px;
  }

  #mission aside {
    font-size: 10px;
  }

  #mission aside span {
    display: block;
  }

  i.bottom-arrow {
    width: 24px;
    height: 24px;
    border: 2px solid #374149;
  }

  i.bottom-arrow::after {
    width: 12px;
    height: 12px;
    margin: -8px 0 0 -6px;
    border-left: 4px solid #374149;
    border-bottom: 4px solid #374149;
  }

  i.bottom-arrow:hover::before {
    width: 24px;
    height: 24px;
    top: -2px;
    left: -2px;
  }

  i.bottom-arrow:hover::after {
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
  }
}

@media(max-width: 414px) {
  #mission h2 {
    font-size: 20px;
    letter-spacing: 4px;
  }

  #mission h3 {
    font-size: 20px;
    letter-spacing: 4px;
  }

  #mission h4 {
    font-size: 20px;
    letter-spacing: 2px;
  }

  #mission aside {
    font-size: 10px;
    padding-top: 32px;
  }

}

@media (max-width: 320px) {
  #mission h2 {
    font-size: 16px;
  }

  #mission h3 {
    font-size: 16px;
  }

  #mission h4 {
    font-size: 16px;
  }

}

@media(max-width: 280px) {
  #mission h2 {
    font-size: 12px;
  }

  #mission h3 {
    font-size: 12px;
  }

  #mission h4 {
    font-size: 12px;
  }
}