
/* オープニング ここから */
#opening-view.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

#opening-view.displaynone {
  display: none;
  opacity: 0;

}

#opening-view {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0;
  position: relative;
  opacity: 1;
  z-index: 2000;
}

#opening-view h1 {
  position: absolute;
  top: 20%;
  width: 100%;
  opacity: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#opening-view h1 img {
  width: 100%;
  max-width: 1248px;
  margin: 0 auto 32px;
  padding: 0 24px;
  display: block;
}

#opening-view aside img {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: block;
}

.js-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  /*  background: #fff;*/
  transition: opacity .8s, visibility .8s;
  z-index: 10000;
}

.is-loaded .js-loader{
  visibility: hidden;
  opacity: 0;
}

.js-loader-progress {
  position: fixed;
  top: 61.8%;
  left: 0;
  right: 0;
  /* bottom: 0; */
  margin: 0 auto;
  width: 100%;
  height: 4px;
}

.is-loaded .js-loader-progress{
  visibility: hidden;
  opacity: 0;
}

.js-loader-progress-bar {
  background: #fff;
  height: 100%;
  width: 0;
  transition: width .4s;
}

.js-loader-progress-number {
  font-size: 10px;
  width: 100%;
  margin-top: 0px;
  color: #fff;
  padding-right: 12px;
  text-align: center;
  /*transition: all .4s;*/
}
/* オープニング ここまで */

@media(max-width: 1248px) {
  #opening-view aside {
    width: 75%;
    text-align: center;
    margin: 0 auto;

  }
}
