@charset "UTF-8";

/*セレクト*/
.dropholder {
  width: 100%;
  height: 36px;
  margin: 8px auto;
  padding: 0 0 0 0;
  border-radius: 4px;
  font-size: 12px;
  color: #221815;
  position: relative;
  box-sizing: border-box;
  position: relative;
  background: #fff;
  font-weight: 400;
}

.dropholder:hover,
.dropholder:hover:after {
  animation-play-state: paused;
}

.dropholder:active {
  background: #ccc;
}

.dropholder:after {
  content: "";
  position: absolute;
  width: 250px;
  height: 5px;
  background: rgba(0, 0, 0, 0);
  display: block;
  top: 100px;
  left: 37px;
  margin: auto;
  border-radius: 50%;
  animation: moveShadow 3s ease-in-out infinite;
}

.dropholder p {
  float: left;
  font-size: 12px;
  padding: 12px 8px;
}

.dropdown {
  margin-left: 0;
  float: left;
  width: 100%;
  padding: 0;
  height: 36px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: all 0s;
}

.dropdown i {
  width: 12px;
  height: 12px;
  display: inline-block;
  position: absolute;
  right: 12px;
  top: 12px;
  transition:all 0.3s ease;
}

.dropdown:hover i{
  background: #eee;
  border-radius: 50%;
  opacity: 0.7;
  transition:all 0.3s ease;
}

.dropdown:active {
  background: #fff;
  color: #221815;
  transition: all 0s;
}

.dropdown:after {
  content: "";
  font-size: 16px;
  position: absolute;
  right: 20px;
  top: 12px;
  display: inline-block;
}

.menu {
  position: absolute;
  right: -999px;
  top: 48px;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  transform-style: preserve-3d;
  transform: rotatey(180deg) rotateX(5deg) translatey(100px);
  backface-visibility: hidden;
  background: #fff;
  border-radius: 4px;
  transition: all 0.6s;
  z-index: 9999;
  overflow: hidden;
}

.menu li {
  padding: 8px;
  border-bottom: 1px #fff solid;
  color: #221815;
  position: relative;
  transition: all 0.3s;
}

.menu li:hover {
  background: #5a5a5a;
  color: #fff;
  padding-left: 16px;
}

.menu li:last-child {
  border: none;
}

.showMenu {
  right: 0;
  opacity: 1;
  transform: rotateX(0deg) translatey(0px);
}

.rotateArrow {
  transform: rotate(-180deg);
  transition: all 0.3s ease-in-out;
}

li>i {
  float: left;
  padding-top: 3px;
  padding-right: 8px;
}

p>i {
  position: relative;
  top: 2px;
}

i {
  opacity: 0.7;
}

@keyframes moveShadow {
  0%,
  100% {
    transform: translateY(10px);
    opacity: 0.4;
  }

  50% {
    transform: translateY(0);
    opacity: 1;
  }
}

button#read-terms-btn {
  background: transparent;
  border: 1px solid #e71f1c;
  display: block;
  color: #e71f1c;
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 12px auto 0;
  height: 52px;
  transition: all 0.3s ease;
}

button#read-terms-btn:hover {
  background: #e71f1c;
  color: #fff;
  transition: all 0.3s ease;
}

/*#read-terms-btn-wrap {
  position: relative;
}

#read-terms-btn-wrap #read-terms-btn:hover {
  color: #fff;
  position: relative;
  z-index: 9999;
}

#read-terms-btn-wrap .bar {
  content: "";
  width: 0%;
  position: absolute;
  background: #e71f1c;
  height: 52px;
  top: 0;
  left: 0;
  border-radius: 4px;
  transition: all 0.3s ease;
}

#read-terms-btn-wrap:hover .bar {
  content: "";
  width: 100%;
  position: absolute;
  background: #e71f1c;
  transition: all 0.3s ease;
}*/

#form .error-message.att {
  color: #e71f1c;
  font-size: 10px;
  font-weight: 400;
  display: block;
  text-align: right;
  margin-top: 4px;
}

@media(max-width: 640px) {
  button#read-terms-btn {
    font-size: 10px;
  }

  .dropholder {
    margin: 8px 0;
    width: 100%;
  }

  .dropholder p {
    font-size: 10px;
  }

  .menu li {
    font-size: 10px;
  }

  button#send-btn {
    font-size: 10px;
  }
}