#terms-of-service {
  background: #efeeed;
}

#terms-of-service .container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 52px 32px 32px;
}

#terms-of-service .main {
  display: block;
  float: left;
  width: calc(100% - 420px);
  position: relative;
}

#terms-of-service .order-form {
  width: 592px;
  display: block;
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0 auto;
}

#terms-of-service .order-form h3 {
  margin: 0px 0 28px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  background: #dde0f5;
  letter-spacing: 2px;
  color: #535faa;
  border-radius: 4px;
  padding: 18px 0;
}

#terms-of-service #form label {
  font-size: 12px;
  display: block;
  font-weight: 600;
  margin-bottom: 24px;
  line-height: 1;
  position: relative;
  letter-spacing: 2px;
}

#terms-of-service #form select {
  display: block;
  width: 100%;
  height: 32px;
  border-radius: 4px;
  border: #ccc;
  margin-top: 8px;
  padding: 8px;
  font-size: 12px;
}

#terms-of-service #form input {}

#terms-of-service #form textarea {}

#terms-of-service #form .notice {
  font-size: 10px;
  font-weight: 100;
  margin-top: 8px;
  line-height: 16px;
  letter-spacing: 0;
}

#terms-of-service #form .notice .att {
  color: #eb6363;
  display: inline;
  font-weight: bold;
}

button#send-btn {
  color: #364148;
  width: 100%;
  padding: 16px;
  background: #73bd5c;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 16px auto 0;
  height: 52px;
  transition: all 0.3s ease;
}

#terms-of-service #form footer #send-btn:active {
  background: #73bd5c;
}

#terms-of-service #form footer #send-btn .att {
  color: #337eba;
  display: inline;
}

#terms-of-service #form footer #send-btn:hover {
  background: #337eba;
  transition: all 0.3s ease;
}

#terms-of-service #form footer #send-btn:hover{
  color: #ffffff;
  transition: all 0.3s ease;
}

#terms-of-service #form footer #send-btn:hover .att {
  color: #ffffff;
  transition: all 0.3s ease;
}

#terms-of-service .contents {
  width: 280px;
  display: block;
  float: left;
  padding-top: 24px;
  transition: all 0s;
}

.stick-to-the-top {
  position: fixed!important;
  top: 0!important;
  transition: all 0s;
}

#terms-of-service .contents h4 {
  font-weight: 900;
  font-size: 16px;
  border-top: 4px solid #333;
  border-bottom: 4px solid #333;
  padding: 2px 0 1px;
  line-height: 1;
  border-radius: 2px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-weight: 700;
}

#terms-of-service .contents h4:before {
  content: "";
  border-top: 1px solid #333;
  width: 100%;
  display: inline-block;
  padding-top: 16px;
}

#terms-of-service .contents h4:after {
  content: "";
  border-bottom: 1px solid #333;
  width: 100%;
  display: inline-block;
  padding-top: 16px;
}

#terms-of-service .contents h4 .att {
  color: #e71f1c;
  margin-right: 16px;
  margin-left: 16px;
  display: inline-block;
}

#terms-of-service ul#terms-contents-list {
  list-style-type: none;
}

#terms-of-service ul#terms-contents-list li {
  font-size: 12px;
  line-height: 1;
  margin-bottom: 20px;
}

#terms-of-service .detailed-terms-wrap {
    max-width: 864px;
    display: block;
    font-size: 12px;
    margin: 0 auto 0;
}

#terms-of-service .order-form #form footer {
}

#terms-of-service .detailed-terms-wrap a.read-pdf-btn {
  background: #535faa;
  color: #fff;
  border-radius: 4px;
  width: 88px;
  padding: 4px 0;
  font-weight: 700;
  float: right;
  text-decoration: none;
  position: relative;
  z-index: 100;
  font-size: 10px;
}

#terms-of-service .detailed-terms-wrap a.read-pdf-btn:hover {
  background: #717cbf;
}

#terms-of-service .search-address-btn {
  background: #535faa;
  color: #fff;
  border-radius: 4px;
  width: 60px;
  padding: 4px 0;
  font-weight: 500;
  float: right;
  text-decoration: none;
  position: absolute;
  right: 0px;
  top: -8px;
  z-index: 90;
  font-size: 10px;
  transition: all 0.3s ease;
}

#terms-of-service .search-address-btn:hover {
  opacity: 0.7;
  transition: all 0.3s ease;
}


#terms-of-service .detailed-terms {
  background: #fff;
  border-radius: 4px;
  padding: 28px 16px 16px;
  display: block;
  float: left;
  margin-top: 0;
  margin-bottom: 24px;
}

#terms-of-service .detailed-terms .scroll-y {
  height: 960px;
  overflow-y: scroll;
}

#terms-of-service .detailed-terms h2 {
  color: #e71f1c;
  font-size: 16px;
  position: relative;
  letter-spacing: 2px;
  margin-bottom: 40px;
  font-weight: 700;
}

#terms-of-service .detailed-terms h2:before {
  content: "";
  height: 4px;
  width: 64px;
  background: #e71f1c;
  display: inline-block;
  border-radius: 4px 0 0 4px;
  position: absolute;
  top: 40px;
}

#terms-of-service .detailed-terms h2:after {
  content: "";
  height: 4px;
  width: calc(100% - 64px);
  display: inline-block;
  background: #d6b5b3;
  border-radius: 0 4px 4px 0;
  position: absolute;
  top: 40px;
  left: 64px;
}

#terms-of-service .detailed-terms p {
  margin-bottom: 24px;
  line-height: 16px;
  transition: all 0s;
}

#terms-of-service .detailed-terms .ttl {
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: #3a3a63;
  margin-bottom: 4px;
}

#terms-of-service .detailed-terms .end-of-sentences {
  text-align: right;
  padding-right: 8px;
}

#terms-of-service .detailed-terms .end-of-sentences span {
  display: block;
}

#terms-of-service .detailed-terms-wrap .close-modal-btn {
  display: none;
}

#terms-of-service #write-order-form-btn {
  color: #ffffff;
  width: 240px;
  padding: 16px;
  background: #535faa;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0 auto 0;
  height: 52px;
  transition: all 0.3s ease;
}

#terms-of-service #write-order-form-btn:hover {
  opacity: 0.7;
  transition: all 0.3s ease;
}


#terms-of-service .tel {
  font-size: 10px;
  display: block;
  text-align: center;
  padding: 16px 0;
  letter-spacing: 0px;
  font-weight: 400;
  position: relative;
}

#terms-of-service .tel span {
  color: #535faa;
  font-weight: 700;
}

#terms-of-service #tel-wrap .tel a {
  color: #535faa;
  font-weight: 400;
  margin-left: 8px;
  background: #f4e227;
  position: relative;
  z-index: 200;
  text-decoration: none;
}

#terms-of-service #tel-wrap{
  display: inline-block;
  width: 104px;
  position: relative;
}



@media(max-width: 1440px) {
  #terms-of-service .detailed-terms {
    padding: 16px 16px 16px;
  }
  #terms-of-service .container {
    padding: 32px 32px 32px;
  }
}


@media(max-width: 1024px) {
  #terms-of-service .detailed-terms-wrap {
    max-width: calc(100% / 12 * 11);
    width: 100%;
  }
  #terms-of-service .detailed-terms h2 {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 40px;
  }
  #terms-of-service .detailed-terms h2:before {
    top: 36px;
  }
  #terms-of-service .detailed-terms h2:after {
    top: 36px;
  }
}

@media(max-width: 768px) {
  #terms-of-service .container {
    padding: 28px 32px 32px;
  }
  
  #terms-of-service .detailed-terms-wrap {
    max-width: calc(100% / 12 * 11);
    width: 100%;
  }

  #terms-of-service .detailed-terms {
    padding: 16px 16px 16px;
  }

  #terms-of-service .detailed-terms h2 {
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 44px;
  }

  #terms-of-service .detailed-terms h2:before {
    top: 32px;
  }

  #terms-of-service .detailed-terms h2:after {
    top: 32px;
  }
}

@media(max-width: 640px) {
  #terms-of-service .detailed-terms-wrap .close-modal-btn {
    display: block;
    position: absolute;
    right: 16px;
    top: 8px;
    cursor: pointer;
  }

  #terms-of-service .detailed-terms-wrap {
    font-size: 10px;
    display: block;
    z-index: 100;
    transition: all 1s;
  }

  #terms-of-service .detailed-terms {
      padding: 12px 16px 16px;
  }

  #terms-of-service .container {
    padding: 20px 16px 24px;
  }

  #terms-of-service .detailed-terms-wrap a.read-pdf-btn {
    width: 72px;
  }

  #terms-of-service .search-address-btn {
    width: 72px;
    position: absolute;
    right: 4px;
    top: 18px;

  }


  #terms-of-service .order-form {
      width: 70%;
      margin: 0 auto;
      display: block;
      float: none;
  }

  #terms-of-service .detailed-terms .ttl {
    font-size: 10px;
    margin-bottom: 4px;
  }

  #terms-of-service .order-form h3 {
    margin: 24px 0 24px;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 12px 0;
  }

  #terms-of-service #form label {
    font-size: 10px;
    margin-bottom: 16px;
  }
  #terms-of-service #write-order-form-btn {
    padding: 0;
    font-size: 10px;
    height: 44px;
    width: 184px;
  }
}

@media(max-width: 414px) {
  #terms-of-service .order-form {
    width: 100%;
  }


  #terms-of-service .detailed-terms-wrap {
    max-width: 100%;
    width: 100%;
  }
}
